<template>
  <div :style="style" class="text-field" :class="[isValid ? '' : 'invalid']">
    <input
      autocomplete="off"
      ref="inputElement"
      :value="value"
      @input="onInputHandler($event)"
      class="input"
      placeholder=" "
      :disabled="disabled"
      :type="type"
      :required="isRequired"
    />

    <label>
      {{ label }}
      <!-- {{ isRequired ? "*" : "" }} -->
    </label>

    <div v-if="isRequired" class="extra">
      <span v-if="!isValid" class="error-text">{{ errorMessage }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, PropType, SetupContext } from "vue";
import { TextInputTypeEnums } from "@/ui/enums";
export default defineComponent({
  name: "TextField",
  emits: ["update:value"],
  props: {
    style: {
      type: [String, Object],
    },
    label: {
      type: String,
      default: "",
    },
    value: {
      type: String,
      default: "",
    },

    isRequired: {
      default: false,
      type: Boolean,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    type: {
      type: String as PropType<TextInputTypeEnums>,
      default: TextInputTypeEnums.DEFAULT,
    },
  },
  setup(props, context: SetupContext) {
    var isValid = ref(true);
    let errorMessage = ref("");
    let inputElement = ref<HTMLElement | null>(null);

    function setError(text: string) {
      isValid.value = false;
      errorMessage.value = text;
    }
    function removeError() {
      isValid.value = true;
      errorMessage.value = "";
    }

    function onInputHandler(e: any) {
      context.emit("update:value", e.target.value);
      isValidInput();
    }

    function isValidInput() {
      removeError();
      if (props.isRequired && !props.value.length) {
        setError(`${props.label} is Required! `);
      }
      return isValid.value;
    }

    function focus() {
      inputElement.value?.focus();
    }

    return {
      onInputHandler,
      inputElement,
      isValid,
      errorMessage,
      isValidInput,
      focus,
    };
  },
});
</script>

<style scoped src="./text-field.scss" lang="scss"></style>
