.text-field {
    transition: 0.3s;
    @apply w-full relative inline-block mb-3;
    input {
        border-radius: 0.4rem 0.4rem 0 0;
        color: var(--neutral-6);
        background-color: transparent;
        border: none;
        line-height: 1.5rem;
        font-size: 1rem;
        line-height: 1.9rem;
        letter-spacing: 0.5px;
        padding: 1.6rem 1.2rem 0.5rem 1.2rem;
        // border-bottom: 1px solid var(--neutral-18);
        background-color: var(--neutral-15);
        @apply w-full outline-0 font-normal;
    }
    label {
        color: var(--neutral-10);
        transition: 0.3s;
        top: 1.5rem;
        left: 0.65rem;
        font-size: 1.2rem;
        letter-spacing: 0.4px;
        transform: scale(0.8);
        line-height: 1.8rem;
        direction: ltr;
        @apply inline-block absolute font-normal capitalize text-left;
    }
    input:not(:placeholder-shown)+label,
    input:not(:placeholder-shown)~label {
        top: 0.3rem;
        height: 1.3rem;
        left: 0.9rem;
    }
    input:placeholder-shown+label,
    input:placeholder-shown~label,
    input:disabled:placeholder-shown+label,
    input:disabled:placeholder-shown~label {
        letter-spacing: 0.5px;
        font-size: 1.2rem;
        top: 1.5rem;
        left: 0.9rem;
    }
    input:focus~label,
    input:focus+label,
    input:disabled+label,
    input:disabled~label {
        top: 0.3rem;
        height: 1.3rem;
        letter-spacing: 0.4px;
        font-size: 1.2rem;
    }
    &.invalid {
        input {
            border-bottom: 1px solid var(--danger);
        }
        label {
            color: var(--danger);
        }
        .helper-text {
            color: var(--danger);
        }
    }
    .extra {
        min-height: 1.3rem;
        font-size: 0.9rem;
        letter-spacing: 0.4px;
        padding: 0.3rem 1.2rem;
        color: var(--neutral-16);
        @apply flex items-center justify-between w-full;
        .error-text {
            color: var(--danger);
        }
    }
    &.rtl {
        input {
            direction: rtl;
        }
        label {
            direction: rtl;
            @apply text-right;
        }
        input:not(:placeholder-shown)+label,
        input:not(:placeholder-shown)~label {
            right: 0.9rem;
            left: unset;
        }
        input:placeholder-shown+label,
        input:placeholder-shown~label,
        input:disabled:placeholder-shown+label,
        input:disabled:placeholder-shown~label {
            right: 0.9rem;
            left: unset;
        }
        .extra {
            @apply flex-row-reverse;
        }
    }
}