<style scoped src="./modal.scss"></style>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Button } from "@/ui";
import { IconEnums } from "@/ui/enums";
export default defineComponent({
  name: "Modal",
  emits: ["update:isOpen", "close"],
  components: { Button },
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
    selfClose: {
      type: Boolean,
      default: true,
    },
    title: {
      type: String,
    },
    classAttr: {
      type: String,
    },
    style: {
      type: [String, Object],
    },
    closeIcon: {
      type: String as PropType<IconEnums>,
      default: IconEnums.BACK,
    },
    fullScreen: {
      type: Boolean,
      default: true,
    },
  },

  setup(props, context) {
    function close() {
      context.emit("update:isOpen", false);
      context.emit("close");
    }

    return {
      close,
    };
  },
});
</script>

<template>
  <div
    v-if="isOpen"
    @click.self="selfClose ? close() : null"
    class="modal backdrop"
    :class="[classAttr, fullScreen ? 'full' : '']"
  >
    <div class="box">
      <div class="modal-header">
        <div @click="close" class="icon-close">
          <span :class="closeIcon"></span>
        </div>
        <span class="modal-title">{{ title }}</span>
      </div>
      <slot name="header"></slot>
      <slot></slot>
      <slot name="footer"></slot>
    </div>
  </div>
</template>
