.modal {
    &.backdrop {
        background: var(--neutral-7);
        backdrop-filter: blur(3px);
        z-index: 10;
        top: 0;
        left: 0;
        @apply w-full h-full fixed;
    }
    .box {
        width: 90%;
        max-width: 500px;
        font-size: 1.1rem;
        line-height: 1.8rem;
        letter-spacing: 0.001em;
        color: var(--secondary-11);
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        max-height: 70%;
        border: 1px solid var(--secondary-5);
        background-color: var(--neutral-7);
        box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
        @apply absolute p-3 font-normal rounded-md text-center;
    }
    &.full .box {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: 100vh;
        @apply p-0;
    }
}

.close-modal {
    font-size: 1.5rem;
    left: 0.5rem;
    top: 0.5rem;
    @apply cursor-pointer absolute;
}

.modal-header {
    // items-center justify-between
    @apply truncate flex items-center w-full text-left;
    .icon-close {
        // @apply basis-1/3;
    }
    .modal-title {
        color: var(--neutral-4);
        font-size: 1.5rem;
        flex: 1;
        @apply text-center;
    }
}

.model-header-section {
    border: 1px solid var(--secondary-3);
    @apply w-full flex flex-row flex-nowrap items-center justify-between;
}

.model-header-section.reverse {
    @apply flex-row-reverse;
}

.modal-main-content {
    @apply h-full flex-1 py-4 px-3;
}

.modal-content {
    flex-flow: column nowrap;
    @apply flex w-full h-full py-5 px-3;
}

.modal-content.scroll {
    max-height: 30rem;
}

@media screen and (max-height: 500px) {
    .modal-content.scroll {
        max-height: 18rem;
    }
}

.modal .box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--secondary-4);
    background-color: var(--secondary-5);
}

.modal .box::-webkit-scrollbar {
    width: 6px;
    background-color: var(--secondary-5);
}

.modal .box::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px var(--secondary-4);
    background-color: var(--secondary-8);
}

.modal .icon-close {
    font-size: 1.25rem;
    z-index: 1002;
    font-size: 2rem;
    @apply m-3 cursor-pointer;
}

.modal .icon-close:hover {
    transition: color 200ms linear;
    color: var(--error);
}

.full-page {
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
}