.chips {
    background-color: var(--neutral-22);
    color: var(--neutral-7);
    font-size: 1rem;
    max-width: fit-content;
    font-size: var(--ping-fang-sc);
    @apply rounded font-normal px-4 py-1 relative flex items-center justify-center inline-block;
    &.info {
        background-color: var(--info);
    }
    &.warning {
        background-color: var(--warning);
    }
    &.danger {
        background-color: var(--danger);
    }
    &.success {
        background-color: var(--success);
    }
    &:hover {
        background: rgba(29, 25, 43, 0.12);
    }
    &.disabled {
        background: rgba(33, 33, 33, 0.08);
    }
}