<style scoped src="./chips.scss"></style>
<script lang="ts">
import { SetupContext, PropType, defineComponent } from "vue";
// import { TextColor } from "@/ui/enums";
export default defineComponent({
  name: "Chips",
  emits: ["click"],
  props: {
    title: {
      type: String,
    },
    colorHex: {
      type: String,
      default: "var(--success)",
    },
    disabled: {
      type: Boolean,
    },
  },
  // components: { Icon, Label },
  setup(props, context: SetupContext) {
    function onClickHandler() {
      context.emit("click", { title: props.title, color: props.colorHex });
    }
    return { onClickHandler };
  },
});
</script>
<template>
  <div
    @click="onClickHandler"
    :style="{ backgroundColor: colorHex }"
    class="chips"
  >
    {{ title }}
  </div>
</template>
