button {
    padding: 0.5rem 0.7rem;
    font-size: 1.35rem;
    outline: none;
    transition: 0.3s;
    min-width: 100px;
    @apply flex justify-center items-center relative;
    &[disabled] {
        @apply opacity-5 cursor-not-allowed;
    }
    &.primary {
        background-color: var(--primary-1);
        color: var(--neutral-7);
    }
    &.link {
        background-color: transparent;
        color: var(--primary-3);
        font-size: 1.35rem;
        line-height: 1.6rem;
        @apply font-bold;
        &:disabled {
            color: var(--secondary-6);
            opacity: 0.48;
        }
    }
    i {
        margin-right: 0.5rem;
    }
}