<template>
  <button
    @click="onClickHandler"
    :style="style"
    :disabled="disabled"
    :class="[type, rounded, classAttr]"
  >
    <i v-if="icon" :class="icon" />
    {{ title }}
  </button>
</template>

<script lang="ts">
import { useRouter } from "vue-router";
import { IconEnums, ButtonTypeEnums, ButtonRoundedEnums } from "../enums";
import { defineComponent, PropType, SetupContext } from "vue";
export default defineComponent({
  name: "Button",
  components: {},
  emits: ["click"],
  props: {
    type: {
      type: String as PropType<ButtonTypeEnums>,
      default: ButtonTypeEnums.DEFAULT,
    },
    icon: {
      type: String as PropType<IconEnums>,
      default: undefined,
    },
    rounded: {
      type: String as PropType<ButtonRoundedEnums>,
      default: ButtonRoundedEnums.NORMAL,
    },
    title: {
      type: String,
      default: "",
    },
    classAttr: {
      type: String,
      default: "",
    },
    style: {
      type: [String, Object],
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    href: {
      type: String,
      default: "",
    },
  },
  setup(props: any, context: SetupContext) {
    const router = useRouter();
    function onClickHandler(e: any) {
      if (props.href) {
        router.push(props.href);
      } else {
        context.emit("click", e);
      }
    }

    return {
      onClickHandler,
    };
  },
});
</script>

<style scoped src="./button.scss"></style>
