.fab-button {
    width: 40px;
    height: 40px;
    background-color: var(--primary-1);
    color: var(--neutral-7);
    font-size: 1.5rem;
    right: 1rem;
    bottom: 5rem;
    padding-right: 20px;
    box-shadow: 0 3px 10px var(--primary-4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s;
    @apply rounded-full fixed cursor-pointer;
    .__inner {
        padding-left: 25px;
        display: flex;
    }
    p {
        white-space: nowrap;
        font-size: 1.3em;
    }
    i {
        font-size: 2em;
        margin-left: 0.4em;
        transform: translateX(50%);
    }
}