<style scoped src="./fab-button.scss"></style>
<template>
  <div
    class="fab-button"
    :style="{ width: innerButtonWidth + 'px' }"
    @mouseenter="open"
    @mouseleave="close"
    @click="onClickHandler"
    ref="button"
  >
    <div class="__inner" ref="innerButton">
      <p v-if="title">{{ title }}</p>
      <i v-if="icon" :class="icon"></i>
    </div>
  </div>
</template>

<script lang="ts">
import { SetupContext, Ref, ref, defineComponent, PropType } from "vue";
import { useRouter } from "vue-router";
import { IconEnums } from "@/ui/enums";

export default defineComponent({
  name: "FabButton",
  emits: ["addNewItem", "change", "click"],
  props: {
    title: {
      type: String,
    },
    icon: {
      type: String as PropType<IconEnums>,
      default: IconEnums.PLUS,
    },
    href: {
      type: String,
    },
  },
  setup(props, context: SetupContext) {
    const button = ref<HTMLInputElement | null>(null);
    const innerButton = ref<HTMLInputElement | null>(null);
    let innerButtonWidth: Ref<number | undefined> = ref(40);
    function open() {
      if (props.title) {
        innerButtonWidth.value = innerButton.value?.scrollWidth;
      }
    }
    function close() {
      if (props.title) {
        innerButtonWidth.value = 40;
      }
    }
    function onClickHandler(e: any) {
      if (props.href) {
        useRouter().push(props.href);
        // router.push(props.href);
      } else {
        context.emit("click", e);
      }
    }
    return {
      open,
      close,
      onClickHandler,
      innerButton,
      button,
      innerButtonWidth,
    };
  },
});
</script>
