<template>
  <Calendar
    v-model:value="calendarValue"
    :month="currentMonth"
    :type="CalendarTypeEnums.WEEKLY"
    @update:value="onChangeCalendar"
  />

  <div class="mt-5">
    <TaskItem v-for="(task, i) in taskList" :key="i" :task="task" />
  </div>
  <FabButton @click="onClickFabButton" />

  <Modal title="New task" v-model:isOpen="isOpenModal">
    <CreateTask @success="onSuccessCreateTask" v-model:date="calendarValue" />
  </Modal>
</template>

<script lang="ts" setup>
import { ref, onMounted, watch } from "vue";
import { Calendar, FabButton, Modal } from "@/ui";
import CreateTask from "@/components/CreateTask.vue";
import { CalendarTypeEnums } from "@/ui/enums";
import { Task } from "@/models";
import TaskItem from "@/components/TaskItem.vue";
import { monthStore, taskStore } from "@/store";

let calendarValue = ref<string>("");
let currentMonth = ref<string>("");
let isOpenModal = ref<boolean>(false);
let taskList = ref<Task[]>([]);
let tasks: Task[] = [];

onMounted(() => {
  tasks = taskStore.getters.getTaskList;
  taskList.value = tasks.filter((t) => t.date === calendarValue.value);
});
function onChangeCalendar(e: any) {
  taskList.value = tasks.filter((t) => t.date === calendarValue.value);
}
function onClickFabButton() {
  isOpenModal.value = true;
}
function onSuccessCreateTask() {
  tasks = taskStore.getters.getTaskList;
  taskList.value = tasks.filter((t) => t.date === calendarValue.value);
  isOpenModal.value = false;
}
function searchInTasks(value: string) {
  tasks = taskStore.getters.getTaskList;
  taskList.value = tasks.filter((t) => t.date === calendarValue.value);
  if (value.length > 0) {
    taskList.value = tasks.filter(
      (t) =>
        t.date === calendarValue.value &&
        t.title?.toLocaleLowerCase() === value.toLocaleLowerCase()
    );
  }
}

watch(
  () => monthStore.getters.getMonth,
  (month) => {
    currentMonth.value = month;
  }
);
watch(
  () => taskStore.getters.getSearchValue,
  (searchValue) => {
    searchInTasks(searchValue);
    // console.log("searchValue", searchValue);
  }
);
</script>
<style src="" scoped></style>
