header {
    @apply flex items-center justify-between py-3 px-3;
    select {
        color: var(neutral-4);
        font-family: var(ping-fang-sc);
        font-size: 1.3rem;
        @apply cursor-pointer outline-0;
    }
    .search-icon,
    .menu-icon {
        font-size: 2rem;
        cursor: pointer;
    }
    .search-box {
        display: flex;
        flex-direction: row-reverse;
    }
    .search-input {
        position: relative;
        width: 100%;
        input {
            position: absolute;
            right: 3rem;
            top: -4px;
            // background-color: var(--neutral-7);
            padding: 0.5rem;
            outline: 0;
            border: none;
            &::placeholder {
                color: var(--neutral-10);
                opacity: 1;
            }
            &:-ms-input-placeholder {
                color: var(--neutral-10);
            }
            &::-ms-input-placeholder {
                color: var(--neutral-10);
            }
        }
    }
}