main {
    @apply mt-10 mx-auto;
}

// .header {
//   background-color: var(--secondary-2);
//   font-size: 1.3rem;
//   min-height: 85px;
//   @apply py-5 px-12 rounded flex items-center mb-12;
// }
.backdrop {
    z-index: 9;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    @apply block fixed flex items-center justify-center bg-black bg-opacity-50;
}