<template>
  <Calendar
    controller
    v-model:value="date"
    :type="CalendarTypeEnums.FULL"
    @update:value="onChangeCalendar"
  />

  <div class="task-form">
    <TaskLabel
      v-model:color="taskLabel.color"
      v-model:value="taskLabel.title"
    />

    <TextField
      isRequired
      ref="titleInput"
      label="Notes"
      v-model:value="task.title"
    />
  </div>

  <Button
    style="padding: 1rem 2rem"
    class="mx-auto mt-5"
    title="ADD YOUR TASK"
    @click="onClickCreateTask"
  />
</template>

<script lang="ts" setup>
import { ref, VNodeRef } from "vue";
import { Calendar, Button } from "@/ui";
import { CalendarTypeEnums, CalendarLocaleEnums, IconEnums } from "@/ui/enums";
import TaskLabel from "./TaskLabel.vue";
import { Task, TaskLabel as TaskLabelModel } from "@/models";
import { taskLabelStore, taskStore } from "@/store";
import TextField from "@/ui/textfield/TextField.vue";
import utility from "@/util";
const props = defineProps({
  date: { type: String, default: "" },
});
const emit = defineEmits<{
  (e: "success"): void;
}>();

let task = ref<Task>(new Task());
let taskLabel = ref<TaskLabelModel>(new TaskLabelModel());
let titleInput = ref<VNodeRef | null>(null);

function onChangeCalendar(e: any) {}
function onClickCreateTask() {
  task.value.label = taskLabel.value;
  task.value.date = props.date;
  if (!isValidForm()) {
    return;
  }
  let tasks: Task[] =
    taskStore.getters
      .getTaskList; /* utility.storage.getJson("__tasks") || [] */
  console.log("tasks", tasks);

  tasks.push(task.value);
  taskLabelStore.commit("saveLabel", {
    title: task.value.label.title,
    color: task.value.label.color,
  });
  utility.storage.setJson("__tasks", tasks);
  emit("success");
}
function isValidForm(): boolean {
  let isValid = true;
  if (!task.value.date) {
    isValid = false;
    alert("date is required!");
  }
  if (!titleInput.value.isValidInput()) {
    isValid = false;
  }
  return isValid;
}
</script>
<style lang="scss" scoped>
.task-form {
  box-shadow: 0 2px 10px var(--neutral-5);
  padding: 1rem 1.5rem;
}

.border {
  border-bottom: 1px solid var(--neutral-9);
}
</style>
