<template>
  <div class="task-label">
    <div :style="{ backgroundColor: color }" class="color-picker">
      <input @change="onChangeColorPicker" v-model="color" type="color" />
    </div>
    <input
      @input="onInputHandler"
      v-model="value"
      placeholder="What do you need to do?"
      type="text"
    />
  </div>

  <h3 class="suggestion-title">Suggestion</h3>
  <div class="label-list">
    <template v-for="(label, i) in labelList" :key="i">
      <Chips
        v-if="label.title"
        @click="onClickChips"
        class="mr-2"
        :title="label.title"
        :colorHex="label.color"
      />
    </template>
  </div>
</template>

<script lang="ts" setup>
import {  defineEmits, computed, onMounted } from "vue";
import { Chips } from "@/ui";
import { taskLabelStore } from "@/store";
import { ITaskLabel } from "@/interface";
const props = defineProps({
  value: { type: String },
  color: { type: String, default: "#4cd565" },
});
const emit = defineEmits<{
  (e: "update:value", value: string): void;
  (e: "update:color", color: string): void;
}>();

function onClickChips(e: any) {
  emit("update:value", e.title);
  emit("update:color", e.color);
}
function onInputHandler(e: any) {
  emit("update:value", e.target.value);
  emit("update:color", props.color);
}
function onKeypressInput(e: any) {
  // if (e.key === "Enter") {
  //   taskLabelStore.commit("saveLabel", { title: title.value, color: colorHex });
  //   rest();
  // }
}
function onChangeColorPicker(e: any) {
  emit("update:color", e.target.value);
}

// function rest(): void {
//   title.value = "";
// }

let labelList = computed<ITaskLabel[]>(() => {
  return taskLabelStore.getters.list;
});
</script>
<style lang="scss" scoped>
.task-label {
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;

  input[type="text"] {
    padding: 1rem 0.5rem;
    outline: 0;
    font-size: 1.7rem;
    font-weight: 100;
    font-family: var(--ping-fang-sc);
    width: 100%;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--neutral-10);
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: var(--neutral-10);
    }

    &::-ms-input-placeholder {
      color: var(--neutral-10);
    }
  }
  .color-picker {
    width: 3px;
    height: 30px;
    cursor: pointer;
    input[type="color"] {
      flex: 1;
      height: 30px;
      -webkit-appearance: none;
      border: none;
      border-color: transparent;
      outline: 0;
      opacity: 0;
      cursor: pointer;

      &::-moz-color-swatch {
        border-color: transparent;
      }
    }
  }
}
.label-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.suggestion-title {
  color: var(--neutral-11);
  font-size: 1.1rem;
  padding: 0.5rem 0;
  text-align: left;
  font-weight: 100;
  font-family: var(--ping-fang-sc);
}
</style>
