<template>
  <div class="task-item">
    <h3 class="title">
      <span :style="{ backgroundColor: task?.label?.color }" />
      {{ task?.title }}
    </h3>
    <div class="additional">
      <div class="date">{{ task?.date }}</div>
      <div v-if="task?.time" class="time">{{ task?.time }}</div>
      <div v-else class="no-additional">No additional text</div>
    </div>
    <div :style="{ backgroundColor: task?.label?.color }" class="line" />
  </div>
</template>

<script lang="ts" setup>
import { PropType } from "vue";
import { Calendar, Button } from "@/ui";
import { CalendarTypeEnums, CalendarLocaleEnums, IconEnums } from "@/ui/enums";
import TaskLabel from "./TaskLabel.vue";
import { Task, TaskLabel as TaskLabelModel } from "@/models";
import TextField from "@/ui/textfield/TextField.vue";
const props = defineProps({
  task: { type: Object as PropType<Task>, required: true },
});
</script>
<style lang="scss" scoped>
.task-item {
  background-color: var(--neutral-7);
  box-shadow: 0 2px 10px var(--neutral-5);
  padding: 1.2rem 1rem;
  margin-bottom: 1rem;
  position: relative;

  .title {
    color: var(--neutral-6);
    font-size: 1.6rem;
    text-align: left;
    font-family: var(ping-fang-sc);
    padding-left: 1rem;
    position: relative;

    span {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: -5px;
      top: 12px;
    }
  }

  .additional {
    color: var(--neutral-3);
    font-size: 1rem;
    font-family: var(--helvetica);
    display: flex;
    align-items: center;
    padding-left: 1rem;

    .date {
      margin-right: 0.5rem;
    }
  }

  .line {
    position: absolute;
    width: 5px;
    height: 90%;
    right: 2px;
    top: 4px;
    border-radius: 5px;
  }
}
</style>
