.calendar {
    background: var(--neutral-7);
    direction: ltr;
    width: 375px;
    @apply mx-auto;
    &.rtl {
        direction: rtl;
    }
    .controllers {
        @apply flex items-center justify-center;
        select {
            background-color: transparent;
            // outline: none;
            @apply outline-0;
        }
    }
    table {
        // border-collapse: collapse;
        @apply w-full;
        thead {
            th {
                color: var(--neutral-3);
                @apply font-thin;
                &.active {
                    color: var(--primary-1);
                }
            }
        }
        tbody {
            th {
                color: var(--neutral-2);
                width: 40px;
                height: 40px;
                @apply font-thin;
                .selected {
                    color: var(--neutral-7);
                    background-color: var(--primary-1);
                    box-shadow: 0 4px 10px rgba(46, 102, 231, 0.35);
                    font-size: 1.3rem;
                    border-radius: 100%;
                    width: 30px;
                    height: 30px;
                    line-height: 1.6;
                    @apply mx-auto;
                }
            }
        }
    }
}

// .table-calendar td,
// .table-calendar th {
//     font-size: 1.2rem;
//     color: var(--neutral-2);
//     @apply p-1 text-center align-top;
//     &.active {
//         color: var(--primary-1);
//     }
// }

/* sunday */

// .date-picker:nth-child(1) {
//     color: red;
// }

/* friday */

// .date-picker:nth-child(6) {
//     color: green;
// }
.month-year {
    font-size: 1.2rem;
    @apply text-center mt-0 font-medium;
    @screen sm {
        font-size: 1.8rem;
    }
}