<template>
  <div class="calendar" :class="locale === CalendarLocaleEnums.EN ? '' : 'rtl'">
    <div v-if="controller" class="controllers">
      <div class="month-year">
        <select @change="onChangMonth" v-model="currentMonth">
          <template v-if="locale === CalendarLocaleEnums.EN">
            <option v-for="(month, i) in months" :key="i" :value="i">
              {{ month }}
            </option>
          </template>

          <template v-if="locale === CalendarLocaleEnums.FA">
            <option v-for="(month, i) in persianMonths" :key="i" :value="i">
              {{ month }}
            </option>
          </template>
        </select>
      </div>
    </div>
    <table>
      <thead>
        <tr v-if="locale === CalendarLocaleEnums.EN">
          <th v-for="(day, i) in days" :class="{ active: i === activeDay }">
            <span>{{ day }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(w, j) in calender">
          <template v-for="d in w.days">
            <th
              class="date-picker"
              @click="onClickHandler(d.year, d.month, Number(d.day))"
            >
              <div :class="[d.is_today ? 'selected' : '']">{{ d.day }}</div>
            </th>
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script lang="ts">
import { Button } from "@/ui";
import { Day, Week } from "./model";
import {
  defineComponent,
  PropType,
  SetupContext,
  ref,
  onMounted,
  watch,
} from "vue";
import utility from "@/util";
import {
  CalendarTypeEnums,
  CalendarLocaleEnums,
  ButtonTypeEnums,
} from "@/ui/enums";

export default defineComponent({
  name: "Calendar",
  components: { Button },
  emits: ["update:value", "change", "update:month"],
  props: {
    classAttr: {
      type: String,
    },
    style: {
      type: [String, Object],
    },
    timeStamps: {
      type: Array,
      default: [],
    },
    type: {
      type: Number as PropType<CalendarTypeEnums>,
      default: CalendarTypeEnums.FULL,
    },
    locale: {
      type: Number as PropType<CalendarLocaleEnums>,
      default: CalendarLocaleEnums.EN,
    },
    value: {
      type: String,
      default: "",
    },
    controller: {
      type: Boolean,
      default: false,
    },
    month: {
      type: String,
    },
  },
  setup(props, context: SetupContext) {
    let currentDay = ref(0);
    let currentMonth = ref(0);
    let currentYear = ref(0);
    let calender = ref<Week[]>([]);
    let selected = ref(0);
    let activeDay = ref(0);
    const days = ref(["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]);

    const months = ref([
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
    ]);

    function showCalendar(year: number, month: number) {
      generateEnCalendar(year, month);
    }
    function generateEnCalendar(year: number, month: number) {
      let firstDay = new Date(year, month).getDay();

      let today = props.value ? new Date(props.value) : new Date();
      let date = 1;
      calender.value = [];
      let c: Week[] = [];

      let allDays: Day[] = [];

      for (var i = 0; i < 6; i++) {
        for (var j = 0; j < 7; j++) {
          let d = new Day();
          if (i === 0 && j < firstDay) {
            d.day = "";
            d.is_today = false;
            d.month = 0;
            d.month_name = "";
            d.year = 0;
          } else if (date > daysInMonth(month, year)) {
            break;
          } else {
            d.day = date;
            d.month = month + 1;
            d.month_name = months.value[month + 1];
            d.year = year;
            if (
              date === today.getDate() &&
              year === today.getFullYear() &&
              month === today.getMonth()
            ) {
              d.is_today = true;
              activeDay.value = today.getDay();
            }
            date++;
          }
          allDays = [...allDays, d];
        }
      }

      let week1 = new Week();
      week1.days = [];
      let week2 = new Week();
      week2.days = [];
      let week3 = new Week();
      week3.days = [];
      let week4 = new Week();
      week4.days = [];
      let week5 = new Week();
      week5.days = [];
      let week6 = new Week();
      week6.days = [];
      for (let k = 0; k < allDays.length; k++) {
        if (k >= 0 && k <= 6) {
          week1.days.push(allDays[k]);
        }
        if (k >= 7 && k <= 13) {
          week2.days.push(allDays[k]);
        }
        if (k >= 14 && k <= 20) {
          week3.days.push(allDays[k]);
        }
        if (k >= 21 && k <= 27) {
          week4.days.push(allDays[k]);
        }
        if (k >= 28 && k <= 34) {
          week5.days.push(allDays[k]);
        }
        if (k >= 35 && k <= 41) {
          week6.days.push(allDays[k]);
        }
      }
      c = [week1, week2, week3, week4, week5, week6];
      if (props.type === CalendarTypeEnums.WEEKLY) {
        let w = c[getCurrentWeek(allDays, month + 1, year)];
        c = [];
        c.push(w);
      }
      calender.value = c;
    }

    function daysInMonth(iMonth: number, iYear: number) {
      return 32 - new Date(iYear, iMonth, 32).getDate();
    }
    function getCurrentWeek(days: Day[], month: number, year: number): number {
      if (
        month !== utility.date.getMonth() &&
        year !== utility.date.getYear()
      ) {
        return 0;
      }
      let dayIndex = days.findIndex((d) => d.is_today);
      if (dayIndex === -1) {
        return 0;
      }
      if (dayIndex && dayIndex >= 0 && dayIndex <= 6) {
        return 0;
      } else if (dayIndex && dayIndex >= 7 && dayIndex <= 13) {
        return 1;
      } else if (dayIndex && dayIndex >= 14 && dayIndex <= 20) {
        return 2;
      } else if (dayIndex && dayIndex >= 21 && dayIndex <= 27) {
        return 3;
      } else if (dayIndex && dayIndex >= 28 && dayIndex <= 34) {
        return 4;
      } else {
        return 5;
      }
    }
    function onClickHandler(year: number, month: number, day: number) {
      const m = month > 10 ? month : "0" + month;
      const d = day > 10 ? day : "0" + day;
      const date = new Date(year + "-" + m + "-" + d);
      calender.value.forEach((w) => {
        w.days.forEach((d) => {
          d.is_today = false;
          if (d.day === day && d.month === month && d.year === year) {
            d.is_today = true;
            activeDay.value = date.getDay();
          }
        });
      });
      context.emit("update:value", date.toISOString().split("T")[0]);
    }
    function onChangMonth() {
      let month = currentMonth.value;
      if (props.locale === CalendarLocaleEnums.FA) {
        month++;
      }
      showCalendar(currentYear.value, month /* 1 */);
    }
    onMounted(() => {
      const today = props.value ? new Date(props.value) : new Date();
      currentDay.value = today.getDay();
      currentMonth.value = today.getMonth();
      currentYear.value = today.getFullYear();

      const offset = today.getTimezoneOffset();
      const date = new Date(today.getTime() - offset * 60 * 1000);

      context.emit("update:value", date.toISOString().split("T")[0]);
      showCalendar(currentYear.value, currentMonth.value /* , day */);
    });
    function onClickDay(year: number, month: number, day: number) {
      const date = year + "-" + month + "-" + day;
      context.emit("update:value", date);
    }
    watch(
      () => props.month,
      (month) => {
        if (month) {
          showCalendar(currentYear.value, parseInt(month, 10) - 1);
        }
      }
    );
    return {
      days,
      calender,
      selected,
      onClickHandler,
      CalendarTypeEnums,
      ButtonTypeEnums,
      months,
      currentMonth,
      onChangMonth,
      CalendarLocaleEnums,
      activeDay,
      onClickDay,
    };
  },
});
</script>
<style scoped src="./calendar.scss"></style>
