<script lang="ts">
import { defineComponent, ref, reactive, toRefs } from "vue";
import Layout from "./layouts/Layout.vue";
export default defineComponent({
  components: { Layout },
  setup() {},
});
</script>

<template>
  <Layout>
    <router-view></router-view>
  </Layout>
</template>

<style scoped></style>
