@font-face {
    font-family: PingFang SC Regular;
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: url("../fonts/ping-fang/PingFang-SC-Regular.eot");
    src: url("../fonts/ping-fang/PingFang-SC-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ping-fang/PingFang-SC-Regular.woff") format("woff"), url("../fonts/ping-fang/PingFang-SC-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: url("../fonts/helvetica/Helvetica.eot");
    src: url("../fonts/helvetica/Helvetica.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: "material";
    src: url("../fonts/material-icon/material.eot?9dhj6g");
    src: url("../fonts/material-icon/material.eot?9dhj6g#iefix") format("embedded-opentype"), url("../fonts/material-icon/material.ttf?9dhj6g") format("truetype"), url("../fonts/material-icon/material.woff?9dhj6g") format("woff"), url("../fonts/material-icon/material.svg?9dhj6g#sternauto") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}