.icon {
    padding: 0.5em;
    @apply flex;
}

.icon:hover {
    opacity: 0.7;
    @apply cursor-pointer;
}


/**/

.back-icon {
    display: inline-block;
    background-size: cover;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon/back.svg");
}

.calendar-icon {
    display: inline-block;
    background-size: cover;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon/calendar.svg");
}