[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "material" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e900";
}

.icon-clear:before {
    content: "\e901";
}

.icon-navigate_before:before {
    content: "\e902";
}

.icon-navigate_next:before {
    content: "\e903";
}

.icon-arrow_back:before {
    content: "\e904";
}

.icon-arrow_drop_down:before {
    content: "\e905";
}

.icon-menu:before {
    content: "\e906";
}

.icon-search:before {
    content: "\e907";
}