html,
body {
    font-size: 14px;
    direction: ltr !important;
    font-family: var(--helvetica);
}

.light {
    // colors
    --primary-1: #2e66e7;
    --primary-2: #0055f8;
    --primary-3: #0063ff;
    --primary-4: #2e66e77d;
    --primary-5: #2e66e759;
    --primary-6: #5dd976;
    --neutral-1: #000000;
    --neutral-2: #2e2e39;
    --neutral-3: #bbbbbb;
    --neutral-4: #373536;
    --neutral-5: #0000000d;
    --neutral-6: #554a4c;
    --neutral-7: #ffffff;
    --neutral-8: #1e1e1e;
    --neutral-9: #979797;
    --neutral-10: #9caac4;
    --neutral-11: #bdc6d8;
    --danger: #ff4355;
    --warning: #f8d557;
    --info: #62ccfb;
    --success: #4cd565;
    //   background colors
    // fonts
    --helvetica: Helvetica;
    --ping-fang-sc: PingFang SC Regular;
}