<template>
  <header>
    <span @click="onClickMenu" :class="IconEnums.MENU" class="menu-icon"></span>

    <select @change="onChangeMonth" v-model="currentMonth">
      <option
        v-for="(item, index) in GregorianMonth"
        :key="index"
        :value="item.value"
      >
        {{ item.title }}
      </option>
    </select>

    <div class="search-box">
      <span
        @click="onClickSearch"
        :class="IconEnums.SEARCH"
        class="search-icon"
      ></span>
      <div v-show="isOpenSearch" class="search-input">
        <input
          autofocus
          autocomplete="off"
          :value="searchValue"
          @input="onInputHandler"
          placeholder="Search a task ..."
          ref="searchInput"
        />
      </div>
    </div>
  </header>
</template>
<script lang="ts">
import { TextField } from "@/ui";
import { ButtonRoundedEnums, IconEnums } from "@/ui/enums";
import { defineComponent, SetupContext, ref, onMounted, watch } from "vue";
import { GregorianMonth, JalaliMonth } from "@/constant";
import { monthStore, taskStore } from "@/store";
import utility from "@/util";
export default defineComponent({
  name: "Header",
  emits: ["update:isOpenMenu"],
  components: { TextField },
  props: {
    isOpenMenu: {
      type: Boolean,
    },
  },
  setup(props, context: SetupContext) {
    let currentMonth = ref(utility.date.getMonth());
    let isOpenSearch = ref(false);
    let searchInput = ref();
    let searchValue = ref("");
    function onInputHandler(e: any) {
      searchValue.value = e.target.value;
      taskStore.commit("search", searchValue.value);
    }
    function onChangeMonth(e: any) {
      let m = e.target.value;
      if (m < 10) {
        m = "0" + m;
      }
      monthStore.commit("change", m);
    }
    function onClickMenu() {
      context.emit("update:isOpenMenu", true);
    }
    function onClickSearch() {
      isOpenSearch.value = !isOpenSearch.value;
      console.log("f", searchInput.value);

      searchInput.value.focus();
    }
    return {
      ButtonRoundedEnums,
      IconEnums,
      GregorianMonth,
      JalaliMonth,
      onChangeMonth,
      currentMonth,
      onClickMenu,
      onClickSearch,
      isOpenSearch,
      searchInput,
      searchValue,
      onInputHandler,
    };
  },
});
</script>
<style scoped src="../assets/styles/layout/header.scss"></style>
