<template>
  <div
    v-if="isOpenMenu"
    class="backdrop cursor-pointer"
    @click="onClickBackdrop"
  >
    <select @click.stop="onClickLang" name="" id="">
      <option value="">not work</option>
      <option value="">en</option>
      <option value="">fa</option>
    </select>
  </div>
  <Header v-model:isOpenMenu="isOpenMenu" />
  <main class="container">
    <slot />
  </main>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import Header from "./Header.vue";
export default defineComponent({
  components: { Header },
  setup() {
    let isOpenMenu = ref(false);
    function onClickBackdrop() {
      isOpenMenu.value = false;
    }
    function onClickLang() {}
    return {
      isOpenMenu,
      onClickBackdrop,
      onClickLang,
    };
  },
});
</script>
<style scoped src="../assets/styles/layout/layout.scss"></style>
